<!doctype html>
<html lang="en" ng-app="oldmenTest">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="HomeCtrl as home">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/vendor.js"></script>
<script src="../bower_components/ngDialog/js/ngDialog.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/controllers.js"></script>
<script src="js/controllers/home.js"></script>

<div class="container">
    <select ng-model="currentRegion"
            ng-options="region for region in data.regions"
            ng-change="setCurrentCountry()"></select>

    <select ng-show="currentCountry" ng-model="currentCountry"
            ng-options="country for country in data.countries[currentRegion]"
            ng-change="setCurrentContactList()"
            class="last-select"></select>

    <script type="text/ng-template" id="modal">
        <div class="ngdialog-message">
            <div class="result-item" ng-repeat="contact in currentContactList">
                <h1>{{contact.name}}</h1>
                <span>Write: <a href="">{{contact.email}}</a></span>
                <span>Call: {{contact.phone}}</span>
            </div>
        </div>
    </script>
</div>

</body>
</html>